.about-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 87vh;
    padding: 20px;
    border-radius: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;

    display: flex; 
    align-items: center; 
    text-align: center; 
}

.about-container h1 {
    color: white;
}

.about-container h5 {
    color: white;
}

.about-container p {
    color: white;
}



.about-text-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 340px;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-gif-container img{
    width: 100%;
    border-radius: 5px;
}


@media (max-width: 1400px) {
    .about-text-container {
      font-size: 1.2em;
      height: 300px;
    }
}

@media (max-width: 1200px) {
    .about-text-container {
      font-size: 1em;
      height: 250px;
    }
}
  
@media (max-width: 992px) {
    .about-text-container {
      font-size: 1.2em;
    }
}
  
@media (max-width: 768px) {
    .about-text-container {
        font-size: 1em;

    }
}

@media (max-width: 576px) {
    .about-text-container {
        font-size: 0.75em;
    }
}
