.memes-list-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 87vh;
    padding: 20px;
    border-radius: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;

    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 

    
    .meme {
        margin-bottom: 20px;
  }
}

.meme-title {
  color: white;
  font-size: 100px;
}