.cartoon-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: snow;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
  }

  .post-scroll-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
  }